name: Deploy Angular App to Droplet

on:
  push:
    branches:
      - main
    paths:
        - 'Angular-App/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Angular-App

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js and npm
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm install
        
      - name: Build Angular App
        run: npm run build 

      - name: Run a multi-line script
        run: |
          mkdir ../build
          cp -TR dist/ ../build
          tar -cvf deploy.tar ../build/
     
      - name: Deploy to Lightsail
        uses: appleboy/scp-action@v0.1.4
        with:
          host: 159.89.49.93
          username: root
          key: ${{ secrets.ANGULAR_SSH }}
          source: dist
          target: ~/
    

      # - name: copy file via ssh key
      #   uses: appleboy/scp-action@master
      #   env:
      #     HOST: 159.89.49.93
      #     USERNAME: root
      #     PORT: 22
      #     KEY: ${{ secrets.secret_file }}
      #   with:
      #     source: ./dist/test-app/
      #     target: /var/www/angular-app
      #     strip_components: 3 
     
      # #       # Copy the built Angular app files to your DigitalOcean droplet using SCP
      #      scp -r dist/* ubuntu@159.203.178.16:/var/www/Angular-App



          