name: Deploy Angular App to Droplet

on:
  push:
    branches:
      - main
    paths:
        - 'Angular-App/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Angular-App

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js and npm
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm install
        
      - name: Build Angular App
        run: npm run build 

      - name: Create SSH Directory
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ANGULAR_SSH }}" > ~/.ssh/secret_file
          chmod 600 ~/.ssh/secret_file

      # - name: copy file via ssh key
      #   uses: appleboy/scp-action@master
      #   env:
      #     HOST: 159.203.178.16
      #     USERNAME: ubuntu
      #     PORT: 22
      #     KEY: ${{ secrets.ANGULAR_SSH }}
      #   with:
      #     source: ./dist/test-app/
      #     target: /var/www/angular-app
      #     strip_components: 3 
      - name: SSH to Server
        run: |
          ssh -i ~/.ssh/secret_file ubuntu@159.203.178.16
      # - name: Deploy to DigitalOcean
      #   env:
      #       DROPLET_IP: 159.203.178.16
      #       SSH_USERNAME: ubuntu
      #       SSH_PRIVATE_KEY: ${{ secrets.ANGULAR_SSH }}
      #   run: |
      #       # Copy the built Angular app files to your DigitalOcean droplet using SCP
      #       scp -r dist/* ubuntu@159.203.178.16:/var/www/Angular-App



          