name: Deploy Laravel to DigitalOcean

on:
    push:
      branches:
        - main
      paths:
          - 'Laravel-App/**'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Laravel-App

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: test_db
          ports: 3306
            

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Copy .env
        run: cp .env.example .env
    
      - name: Install composer Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: install Npm dependencies
        run: npm install

      - name: Setup Project
        run: |
          php artisan config:clear
          php artisan cache:clear
          php artisan key:generate
          npm run build


    #   - name: Deploy to DigitalOcean
    #     run: |
    #       # Upload your application to the droplet using SCP or any deployment method you prefer
    #       scp -r ./ user@your-droplet-ip:/path/to/your/app

    #       # SSH into the droplet and do deployment tasks like running migrations, etc.
    #       ssh user@your-droplet-ip "cd /path/to/your/app && php artisan migrate"
