name: Deploy Laravel to DigitalOcean

on:
    push:
      branches:
        - main
      paths:
          - 'Laravel-App/**'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Laravel-App

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: test_db
          ports: 3306
            

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Copy .env
        run: cp .env.example .env
    
      - name: Install composer Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: install Npm dependencies
        run: npm install

      - name: Setup Project
        run: |
          php artisan config:clear
          php artisan cache:clear
          php artisan key:generate
          npm run build

      - name: Deploy to Lightsail
        uses: appleboy/scp-action@v0.1.4
        with:
            host: 68.183.26.42
            username: root
            key: ${{ secrets.LARAVEL_SSH }}
            source: Laravel-App/public/
            target: /var/www/sport-media-Agency/
